# fly.toml app configuration file generated for mlzoomcamp-flask-uv on 2025-08-11T15:21:50+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "mlzoomcamp-flask-uv"
primary_region = "fra"

[build]

[http_service]
  internal_port = 9696
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
